.player-container{
  // border: 1px yellow solid;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  .player-inner-container{
    width: 100vw;
    height: 100vh;
  }
  iframe{
    width: 100% !important;
    height: 100% !important;
  }
}

.player-close{
  position: absolute;
  top: 20px;
  right: 20px;
  // width: 30px;
  // height: 30px;
  // background: red;
  font-size: 4rem;
  z-index: 999;
  @extend .pointer;
  @extend .dim;
}