.full{
  width: 100vw;
  height: 100vh;
}

.block{
  @extend .full;
  @extend .bg-black-40;
  @extend .absolute;
}

.bg-video{
  @extend .absolute;
  @extend .w-100;
  @extend .h-100; 
  left: 0;
}

.bg-img-logo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}